body{
  color: white;
}

.mainBody {
  margin-left: 30px;
  margin-right: 30px;
}

.header {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 23px;
  padding-right: 23px;

  background-color: black;
/* padding: 5px; */

}

p {
  padding: 7px;
  color: white;
  background-color: grey;
  text-align: center;

}

a {
  color: white !important;
}
