<div class="grid-center about">
  <div class="about-name font-white">
    {{site.name }}
  </div>
  <div class="about-profile-image-container grid-center">
    <img
      class="about-profile-image"

      src="https://s3.amazonaws.com/dsp.data.storage.general/ade26743_2025_03_20_IMG_4462.enhanced.jpg?h=920&w=920"
    />
  </div>
  <div id="typewriter-text" class="font-white grid-center" data-text="{{ site.introduction }}">
    <!-- This content will be filled by the JavaScript typewriter effect -->
  </div>
  <div class="about-container-links">
    {% for contact_links in site.contact_urls %} {% assign clinks =
    contact_links[1]%}
    <a href="{{ clinks.url }}" class="contact-link-container bg-transparent">
      <i class="{{ clinks.class }} bg-transparent" aria-hidden="true"></i>
    </a>
    {% endfor %}
  </div>
</div>


