<div class="grid-center about">
  <div class="about-name font-white">
    {{site.name }}
  </div>
  <div class="about-profile-image-container grid-center">
    <img
      class="about-profile-image"
      src="https://media-exp1.licdn.com/dms/image/C4E03AQFVSPkgwZH4xg/profile-displayphoto-shrink_400_400/0?e=1601510400&v=beta&t=58-cWc92nq997A44Lps_LWG9p0OLHZDnDX9nQoC60do"
    />
  </div>
  <div class="font-white grid-center">
    {{site.introduction}}
  </div>
  <div class="about-container-links">
    {% for contact_links in site.contact_urls %} {% assign clinks =
    contact_links[1]%}
    <a href="{{ clinks.url }}" class="contact-link-container bg-transparent">
      <i class="{{ clinks.class }} bg-transparent" aria-hidden="true"></i>
    </a>
    {% endfor %}
  </div>
</div>
