<div class="grid-center about">
  <div class="about-name font-white">
    {{site.name }}
  </div>
  <div class="about-profile-image-container grid-center">
    <img
      class="about-profile-image"

      src="https://s3.amazonaws.com/dsp.data.storage.general/daf7725b_2024_06_05_IMG_9207.remini-enhanced.jpg?h=920&w=920"
    />
  </div>
  <div class="font-white grid-center">
    {{site.introduction}}
  </div>
  <div class="about-container-links">
    {% for contact_links in site.contact_urls %} {% assign clinks =
    contact_links[1]%}
    <a href="{{ clinks.url }}" class="contact-link-container bg-transparent">
      <i class="{{ clinks.class }} bg-transparent" aria-hidden="true"></i>
    </a>
    {% endfor %}
  </div>
</div>

<!--       src="https://dl.dropboxusercontent.com/s/pb79gluntinuk9f/LinkedInProfilePicture.jpg" -->
