<div id="education" class="selectors">
    <div class="title-option">
        EDUCATION
    </div>
    <div class="fw800 fs24">
        University:
    </div>
    <div class="mb4">
        Tufts University - Medford, MA
    </div>
    <div class="fw800 fs24">
        Major:
    </div>
    <div class="mb4">
        MS Data Science
    </div>
    <div class="mb4">
        September 2022 - May 2024
    </div>
    <div class="fw800 fs24">
        GPA:
    </div>
    <div class="mb4">
        4.00
    </div>
    <div class="mb4">
       
    </div>
    <div class="title-option">
        
    </div>
    <div class="fw800 fs24">
        University:
    </div>
    <div class="mb4">
        Western Michigan University - Kalamazoo, MI
    </div>
    <div class="fw800 fs24">
        Major:
    </div>
    <div class="mb4">
        BS - Computer Science
    </div>
    <div class="fw800 fs24">
        Minor:
    </div>
    <div class="mb4">
        Data Science
    </div>
<!--     <div class="fw800 fs24">
        Graduation:
    </div> -->
    <div class="mb4">
        September 2015 - April 2019
    </div>
    <div class="fw800 fs24">
        GPA:
    </div>
    <div class="mb4">
        3.54
    </div>
</div>
