
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

<script type="text/javascript">
$(function() {
$('[data-toggle="popover"]').popover()
})
</script>

<script type="text/javascript">
$("#float-button").hide();

$("#hide-button").click(function(){
  $("#top-row-right").hide(7000);
  $("#body-row-right").hide(7000);
  $("#top-row-left").removeClass("col-md-8");
  $("#body-row-left").removeClass("col-md-8");
  $("#float-button").show();
  $("#float-button i").css("border-color", "white");

});

$("#float-button").click(function(){
  $("#top-row-right").show(70000);
  $("#body-row-right").show(70000);
  $("#top-row-left").addClass("col-md-8");
  $("#body-row-left").addClass("col-md-8");
  $("#float-button").hide();

});

$(window).resize(function(){
  if ($(this).width() <= 768) {
    $("#hide-button").hide();
    $("#float-button").hide();
  }
  if ($(this).width() > 768) {
    $("#hide-button").show();

    console.log("resize Window :");
    console.log(window.pageYOffset);
    window.scrollBy(0, -52); 
  }
});




if ($(window).width() <= 768) {
  $("#hide-button").hide();
  $("#float-button").hide();
  console.log("static <= 768");
}else {
  $("#hide-button").show();
  console.log("static > 768");
}


$(window).scroll(function() {
    console.log("Window :");
    console.log(window.pageYOffset);

});

$("#left").scroll(function() {
  console.log("Left :");
  console.log($("#left").scrollTop());
});



</script>
