#content{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#float-button{
  position: fixed;
	right:1em;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #741200;
  z-index:99; /*to be show*/
  vertical-align: middle;

}



[data-toggle~="collapse"] {
    cursor: pointer;
}

#row-all{
  padding: 0;
  margin: 0;
}

#top-row{
  top: 0;
  position: sticky;
  z-index: 98;
  margin: 0;
  padding: 0;
  width: 100%;
}

#top-row-left {
  margin: 0;
  padding: 0;
  width: 100%;
}

#top-row-right{
  margin: 0;
  padding: 0;


}
#top-bar-left{
  background-color: #741200;
  width: 100%;

}



#top-bar-right{
  background-color: #033748;
}

.navbar-brand {
  /* padding-left: 1em; */
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.77em;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#myname {

}

.navbar-fixed-top {
  margin: 0;
  padding: 0;
}

.nav-item > a:hover {
  background-color: #3A768A;
}

#sections-nav{
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
}

.social {
  height: 1.5em;
  width: 1.5em;
}

#body-row{
  background-color: #F3F3F3;
  margin: 0;
  padding: 0;
  position: relative;
}

#body-row-left{
  margin: 0;
  padding: 0;
}

#body-row-right {
  margin: 0;
  padding: 0;
}

#body-left {
  margin: 0;
  padding: 0;
}

#body-right{
  margin: 0;
  padding: 0;

}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background:#C4C4C4;
}

#right{
  padding: 2em;

}

#right-content-row{
  padding: 1em;
  padding-bottom: 2em;
  border-style: groove;
  border-radius: 5px;
  border-width: 2px;
  border-color: #2A6072;
  background-color: #065F7C;

}

#right-content {
  padding: 1em;
  margin-bottom: 1em;
  border-style: solid;
  border-width: 2px;
  border-color: #2A6072;
  border-radius: 5px;
  background-color: #86BED0;

}
#hide-button {
  padding: 0;
  margin: 0;
  margin-bottom: 1em;

}
#hide-button > a{
  padding: 0.5em;
  padding-left: 4px;;
  background-color: #86BED0;
  border-style: solid;
  border-width: 2px;
  border-color: #2A6072;
  border-radius: 5px;

}

#hide-button > a:hover{
  background-color: #298FB1;
}

#right-content-links{
  padding: 0;
  margin: 0;
}

#right-links{
  margin: 0.25em;;
  padding: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #2B758D;
  border-color: #056889;
  border-width: 1px;
  border-style: solid;
}

#right-links:hover{
  background-color: #298FB1;
}

#img-links{
  width: 2em;
  height: 2em;
  vertical-align: middle;
}




#left {
  padding: 2em;
  padding-bottom: 5em;
  background-color: #FDFFFC;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1em;

}
@media (min-width: 769px) {
  #left {
    height: 100vh;
    overflow-y: auto;

  }
}

@media (max-width: 768px) {
  #content{
    overflow-y: auto;
    /* overflow-x: hidden; */
  }
}


#intro {
  padding: 1em;
  margin-bottom: 1em;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #741200;
  background-color: whitesmoke;
}

#coursework{
  margin-bottom: 1em;
}

#coursework-title{
  font-size: 1.5em;
}

.card , #lista > li {
  border-color: #C24933 !important;
  color: #033748;
}
#coursework1{
    font-size: 1em;
}

#coursework2{
    font-size: 1em;

}

#skills{
  margin-bottom: 1em;
}

#skills-item{
  padding: 1em;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #741200;
  background-color: whitesmoke;
  margin-bottom: 1em;
}

#work{
  margin-bottom: 1em;
}

#resume {
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
  color: black;
}

#resume-link{
  display: block;
  color: black;
  width: 13em;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
  border-color: #2A6072;
  border-radius: 5px;
  background-color: #86BED0;
  font-family: 'Rajdhani', sans-serif;
  padding: 0.5em;
  text-decoration:none;
  font-size: 1.2em;

}

@media (min-width: 769px) and (max-width: 960px) {
  #resume-link{
    width: 10em;
    font-size: 1em;
  }
}

#resume-link:hover {
  background-color: #298FB7;
}
