<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/bp/css/bootstrap.min.css">
		</head>

	<body>




			<nav class="navbar navbar-expand-lg navbar-light bg-dark">
			  <a class="navbar-brand" href="#">Axel Solano</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNavDropdown-navbarText">
			    <ul class="navbar-nav justify-content-center">
			      <li class="nav-item active">
			        <a class="nav-link white" href="/" >Home <span class="sr-only"></span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/blog">Blog</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Resume</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Projects
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			          <a class="dropdown-item" href="#">Action</a>
			          <a class="dropdown-item" href="#">Another action</a>
			          <a class="dropdown-item" href="#">Something else here</a>
			        </div>
			      </li>
						<li class="nav-item">
						 <a class="nav-link" href="mailto:axel.jeremy.7@gmail.com">
							 <img src="https://botlist.co/system/BotList/Platform/logos/000/000/004/original/mail-icon.svg" width="25" height="20" alt=""></a>
					 </li>

					 <li class="nav-item">
						<a class="nav-link" href="https://github.com/axeljeremy7">
							<img src="https://cdn.worldvectorlogo.com/logos/github-icon.svg" width="20" height="20" alt=""></a>
					</li>
						<span class="navbar-text">
      Navbar text with an inline element
    </span>


			    </ul>
			  </div>
			</nav>











		<div class="mainBody">

			<div class="container">
				{{ content }}
			</div>



		</div>
		<footer>
    		<ul>
        		<li><a href="mailto:axel.jeremy.7@gmail.com"><img src="https://botlist.co/system/BotList/Platform/logos/000/000/004/original/mail-icon.svg" alt="mail" width="25" height="20"></a></li>
        		<li><a href="https://github.com/axeljeremy7"><img src="https://cdn.worldvectorlogo.com/logos/github-icon.svg" alt="github" width="25" height="25"></a></li>

			</ul>
		</footer>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>
