<!DOCTYPE html>
<html lang="en">
<head>
	{% include header.html %}
</head>
<body>
	<div id="default">
	<div id="sidebar">
		<div id="about">
			{% include about.html %}
		</div>
		<div class='line-break'></div>
		<div class="about-options">
			<a onclick="activeOptionLink(this);" href="/" class="about-options-text" id="about-text-title">
				<div class="grid-center">
					<i class="fa fa-user font-gainsboro" aria-hidden="true"></i>
				</div>
				<div class="about-options-title">
					About
				</div>	
			</a>
			<a onclick="activeOptionLink(this);" href="#experience" class="about-options-text" id="experience-text-title">
				
					<div class="grid-center">
						<i class="fa fa-briefcase font-gainsboro" aria-hidden="true"></i>
					</div>
					<div class="about-options-title">
						Experience
				    </div>
			
			</a>
			<a onclick="activeOptionLink(this);" href="#skills" class="about-options-text" id="skills-text-title">
				
				<div class="grid-center">
					<i class="fa fa-certificate font-gainsboro" aria-hidden="true"></i>
				</div>
				<div class="about-options-title">
					Skills
				</div>
		
			</a>
			<a onclick="activeOptionLink(this);" href="#education" class="about-options-text" id="education-text-title">
				
					<div class="grid-center">
						<i class="fa fa-graduation-cap font-gainsboro" aria-hidden="true"></i>
					</div>
					<div class="about-options-title">
						Education
					</div>
		
			</a>
			<a onclick="activeOptionLink(this);" href="#resume" class="about-options-text" id="resume-text-title">
				
				<div class="grid-center">
					<i class="fa fa-file-text font-gainsboro" aria-hidden="true"></i>
				</div>
				<div class="about-options-title">
					Resume
				</div>
		
			</a>
			<a onclick="activeOptionLink(this);" href="#projects" class="about-options-text"  id="projects-text-title">
			
				<div class="grid-center">
					<i class="im im-folder-open fs16 font-gainsboro"></i>
				</div>
				<div class="about-options-title">
					Projects
				</div>
		
			</a>
		</div>
	</div>
	<!-- <div id="content">
		
	</div> -->
	<div id="content">
		{{content}}
	</div>
	</div>
</div>





	<!-- footer -->
	{% include footer.html %}
	<!--        -->
	{% include scripts.html %}


</body>

</html>