<!DOCTYPE html>
<html>
<!-- head -->
{% include html-header.html %}
<!--      -->

<body>
	<!-- header -->
    {% include header.html %}
	<!--        -->

<!--  BODY PART -->
<div class="container-fluid bg-all bg-grey">
	<div class="row align-items-start no-gutters">

		<!-- Start of first square -->
		<div class = "col-8">
			<nav class="navbar navbar-expand-lg navbar-light bg-barra1">
		    <a class="navbar-brand" href="#">AJ</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>

		    <div class="collapse navbar-collapse" id="navbarNavDropdown-navbarText">
		      <ul class="navbar-nav justify-content-center">
		        <li class="nav-item">
		          <a class="nav-link white" href="" >Home <span class="sr-only"></span></a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="/blog">Blog</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="/resume">Resume</a>
		        </li>
						<!-- Not using this part
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		            Projects
		          </a>
		          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" href="#">Action</a></li>
		            <li><a class="dropdown-item" href="#">Another action</a></li>
								  <li role="separator" class="divider"></li>
								<li><a class="dropdown-item" href="#">Something else here</a></li>
		          </ul>
		        </li>
						-->
				 <li class="nav-item topright1">
					 <a class="nav-link" href="https://github.com/axeljeremy7"><img src="images/github-64.png" width="20" height="20" alt="github"></a></a>
				 </li>
				 <li class="nav-item topright2">
					 <a class="nav-link" href="https://www.linkedin.com/in/axel-solano/"><img src="images/white-linkedin-64.png" width="20" height="20" alt="linkedin"></a>
				 </li>
         <li class="nav-item topright3">
					 <a class="nav-link" href="mailto:axel.7@outlook.com"><img src="images/mail-64.png" width="20" height="20" alt="mail"></a>
				 </li>

		      </ul>
		    </div>
		  </nav>

			<!--First Square Content -->
			<div class="container bodyContent">
							{{content}}
			</div>
			<!--End of First Square Content -->

		</div>
	  <!-- End of first square -->


		<!-- Start of Second square -->
		<div class="col-4">
			<div class="container-fluid hidden-sm-up barra2">
				<nav class="navbar navbar-expand-lg navbar-light bg-barra2">
					<div class="collapse navbar-collapse" id="navbarNavDropdown-navbarText">
						<ul class="navbar-nav justify-content-center">
							<li class="nav-item">
								<a class="nav-link" href="/" >Latest Posts <!--<span class="sr-only"></span>--></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/">Projects</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/">Contact</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>

 			<!--Second Square Content -->
			<div class="container bodyContent2">
				<p>Other Square</p>
			</div>
			<!--End of Second Square Content -->

		</div>
		<!-- End of Second square -->
	</div>
</div>
<!--  End of BODY PART-->

<!-- footer -->
    {% include footer.html %}
<!--        -->

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	</body>
</html>
